.nav {
    background-color: #010101;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .nav {
        padding: 0rem 2rem;
    }
}

@media (min-width: 1000px) {
    .nav {
        padding: 0rem 5rem;
    }
}

.nav-left-div {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 20px;
}

.nav-right-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-right: 2rem;
}

.nav-basic-link {
    text-decoration: none;
    padding: 0rem 1rem;
    cursor: pointer;
}

.logo {
    height: 50px;
    width: auto;
}

.contact-button {
    background-color: #0f2854;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    padding: 5px 15px;
    width: 10rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-right-div {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0.5rem;
        padding-right: 0rem;
    }

    .nav-left-div {
        width: 100%;
        padding-left: 0px;
        padding-top: 1rem;
        justify-content: center;
    }

    .nav {
        height: 210px;
        flex-direction: column;
    }
}
