* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typografia */
body {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
}

a {
    color: #fcf8f5;
}

@media (max-width: 768px) {
.py-5 {
  padding: 2rem 1rem 2rem 1rem!important;
  }
}

/* Painikkeiden tyylit */
.button {
    display: inline-block;
    background-color: #0F2854;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.button:hover {
    background-color: rgba(30, 47, 87, 0.7);
}

/* Sanojen tavutuksen pakotus pois päältä*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    word-break: keep-all;
    hyphens: none;
    word-wrap: initial;
}

/* Linkkien underline pakotus pois päältä */
a, p a {
    text-decoration: none !important;
}

/* CONTACT */
.contact-section{
  padding: 46px 0 90px;
}

.contact-panel{
  background: var(--panel);
  color:#111;
  padding: 64px 82px;
  display:flex;
  align-items:center;            /* pitää saman linjan */
  justify-content:space-between; /* vasen ja oikea erilleen */
  gap: 80px;
}

.contact-left{
  flex: 1;
  min-width: 360px;
}

.contact-left h1{
  font-size: 40px;
  line-height: 1.05;
  color: var(--blue2);
  margin-bottom: 22px;
  font-weight: 800;
}

.contact-text p{
  font-size: 14px;
  line-height: 1.6;
}

.strong{ font-weight: 700; }

.contact-card{
  background: var(--blue);
  color:#fff;
  padding: 34px 56px;
  border-radius: 18px;
  width: 360px;  /* lukitsee kortin koon kuvan kaltaiseksi */
}

.contact-card-block + .contact-card-block{
  margin-top: 18px;
}

.label{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .6px;
  margin-bottom: 6px;
}

.value{
  font-size: 14px;
  opacity: .95;
}


/* ETUSIVU */
.hero-front {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('images/etusivu-hero.jpg') center center/cover no-repeat;
    color: white;
    text-align: center;
    position: relative;
    height: 700px;
}

.highlight {
    font-weight: 600;
    color: #0F2854;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 0rem!important;
}

.hero-front .container {
  max-width: 800px;
}

.cta {
    background: linear-gradient(#0F285480, #0F285480),
                url('images/Kitarakeskus-cta.jpg') center center/cover no-repeat;
    color: white;
    text-align: center;
    position: relative;
    height: 500px;
}

/* COMPANY */
.company-cta1 {
    background: linear-gradient(rgba(30, 47, 87, 0.6), rgba(30, 47, 87, 0.6)),
                url('images/Kitarakeskus-company.jpg') center center/cover no-repeat;
    color: white;
    position: relative;
}

.company-cta2 {
  background-color: #000000;
  color: #FFF;
}

.company-cta2 img {
  border-radius: 30px;
}

/* FOOTER */
.footer {
    background-color: black;
    min-height: 300px;
    color: white;
    padding: 1rem;
}

.footer img {
    width: 250px;
    height: auto;
}

.copyright {
    background-color: #000000!important;
    color: #FFF!important;
}

.copyright p {
    margin-bottom: 0rem!important;
    padding-bottom: 0.5rem;
}

footer {
    background-color: #000000;
}

footer p {
    margin-bottom: 0rem!important;
    font-size: 15px;
}